{{!-- Intro image + search bar --}}

<div class="details-container">
  <div class="col-12 text-center margin-top">
    <h5>nutrition information for:</h5>
    <h1>{{item.food_name}}</h1>
      <table class="nutrients-table">
        <tr>
          <th>Nutrient</th>
          <th>per 100g</th>
        </tr>
        <tr>
          <td>Energy</td>
          <td>{{nutrients.foods[0].nf_calories}} kcal</td>
        </tr>
        <tr>
          <td>Fat</td>
          <td>{{nutrients.foods[0].nf_total_fat}} g</td>
        </tr>
        <tr>
          <td>Saturated Fat</td>
          <td>{{nutrients.foods[0].nf_saturated_fat}} g</td>
        </tr>
        <tr>
          <td>Cholesterol</td>
          <td>{{nutrients.foods[0].nf_cholesterol}} g</td>
        </tr>
        <tr>
          <td>Sodium</td>
          <td>{{nutrients.foods[0].nf_sodium}} g</td>
        </tr>
        <tr>
          <td>Carbohydrates</td>
          <td>{{nutrients.foods[0].nf_total_carbohydrate}} g</td>
        </tr>
        <tr>
          <td>Sugar</td>
          <td>{{nutrients.foods[0].nf_sugars}} g</td>
        </tr>
        <tr>
          <td>Fiber</td>
          <td>{{nutrients.foods[0].nf_dietary_fiber}} g</td>
        </tr>        
        <tr>
          <td>Protein</td>
          <td>{{nutrients.foods[0].nf_saturated_fat}} g</td>
        </tr> 
         <tr>
          <td>Potassium</td>
          <td>{{nutrients.foods[0].nf_potassium}} g</td>
        </tr> 
        <tr>
          <td>Flavonoids (P)</td>
          <td>{{nutrients.foods[0].nf_p}} g</td>
        </tr>

      </table>

  </div>
</div>