{{!-- Intro image + search bar --}}

<div class="details-container">
  <div class="col-12 text-center margin-top">
    <h5>nutrition information for 100g of:</h5>
    <h2>{{foodName}}</h2>

    <img width="120px" src={{foodPhoto}} alt={{foodName}}>
    <br />
      <table class="nutrients-table mx-auto">
       
        <tr>
          <td>Energy</td>
          <td>{{nutrients.[0]}} kcal</td>
        </tr>
        <tr>
          <td>Fat</td>
          <td>{{nutrients.[1]}} g</td>
        </tr>
        <tr>
          <td>Saturated Fat</td>
          <td>{{nutrients.[2]}} g</td>
        </tr>
        <tr>
          <td>Cholesterol</td>
          <td>{{nutrients.[3]}} mg</td>
        </tr>
        <tr>
          <td>Sodium</td>
          <td>{{nutrients.[4]}} mg</td>
        </tr>
        <tr>
          <td>Carbohydrates</td>
          <td>{{nutrients.[5]}} g</td>
        </tr>
        <tr>
          <td>Sugar</td>
          <td>{{nutrients.[6]}} g</td>
        </tr>
        <tr>
          <td>Fiber</td>
          <td>{{nutrients.[7]}} g</td>
        </tr>        
        <tr>
          <td>Protein</td>
          <td>{{nutrients.[8]}} g</td>
        </tr> 
         <tr>
          <td>Potassium</td>
          <td>{{nutrients.[9]}} mg</td>
        </tr> 

      </table>

  </div>
</div>

{{!-- Dropdown for adding food to List --}}


 <!-- Button trigger modal -->
 <form action="/profile/add-item" method="POST">
      <input type="hidden" name="food" value="{{this.foodName}}">
      <button class="foodItem m-0 rounded-4" type="submit">Add to list</button>
	</form>
   
