<div class="signup-container">
  <div class="col-12 text-center margin-top">
    <h5>Welcome back!</h5>
    <h1>{{user.name}}</h1>
  </div>
  <div>
    <form>
    <div class="d-grid gap-2 col-9 mx-auto">
      <a href="/search/test"><button class="btn-green rounded-4" type="button"><h5>🔍&nbsp;&nbsp;Search for products</h5></button></a>
    </div>
    </form>
  </div>
</div>

<section class="my-lists mx-2">
    <div>
        <h4>My nutritionest database</h4>
    </div>

</section>

<section class="my-profile mx-2">
    <div>
        <h4>My profile</h4>
    </div>
    <div class="container-fluid">
		<div class="row col-md-6">
			<div class="col-6">
				<p>Name</p>
				<p>Last name</p>
                <p>Email address</p>
                <p>Password</p>                
			</div>
			<div class="col-6">
				<p>{{#if user.firstName}}{{user.firstName}}{{else}}-{{/if}}</p>
				<p>{{#if user.lastName}}{{user.lastName}}{{else}}-{{/if}}</p>
        <p>{{user.email}}</p>
        <p>******</p>   
			</div>
		</div>
	  </div>
</section>