

{{#each items}}
    <form action="/search/nutrients" method="POST">
    <input type="hidden" name="item" value="{{this.food_name}}">
    <a href="#" onclick="this.parentNode.submit()">{{this.food_name}}</a>
    </form>
    <br>
{{/each}}

{{#each nutrients}}
    <p>{{this}}</p>
{{/each}}


{{!-- {{#each item}}
    <div>
        <a href="">{{item.food_name}}</a>
    </div>
{{/each}} --}}


<div class="dropdown">
  <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
    Add to list
  </button>
  <ul class="dropdown-menu">
    {{#each user.lists}}
    <li><a class="dropdown-item bg-white" href="/profile/add-item">{{listname}}</a></li>
    {{/each}}
  </ul>
</div>